@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Set default background color */
body {
  background-color: #F7FBF8;
  color: #0F172A;
}
/* Custom Scrollbar for the Map Directory List */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d3cf; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #889c8b; 
}